@media screen and (max-width: 768px) {

    body {
        font-size: larger;
        overflow: hidden;
        grid-template-columns: 1fr;
        grid-template-rows: 35% 65%;
    }

    header{
        justify-content: flex-start;
        align-items: flex-start;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../imagens/fundoMobile.png");
    }
}

@media screen and (min-width: 768px) {

    body {
        grid-template-columns: 45% 55%;
        overflow: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../imagens/fundoDesktop.png");
    }

    header{
        justify-content: center;
        align-items: center;
    }
}